<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html;
charset=windows-1252">
<TITLE>125B Normal Board Template</TITLE>
</HEAD>
<BODY LANG="fr-FR" DIR="LTR">
<P>Initial pedal output templates for a normally-sized
pedal inside a 125B enclosure.  Includes outlines for
the enclosure with daughterboard positions indicated.
Set up for 'PedalPDB Standard' drill setups.  Includes
some basic power setup (caps, vref) but that can be
removed if the design does not call for it.
</BODY>
</HTML>
